{% extends 'common/list.html' %}
{% set columns = [
  {'name':'id', 'visible':False},
  {'name':'status', 'visible':False, 'search': '(enabled|disabled)', 'regex':True},
  {'name':'name', 'title':form.name.label.text|string, 'orderable':True, 'render':'summary', 'render_arg':'rule', 'className':'export'},
  {'name':'model_name', 'title':form.model_name.label.text|string, 'orderable':True, 'className':'export'},
  {'name':'description', 'title':form.description.label.text|string, 'orderable':True, 'className':'export'},
  {'name':'severity', 'title':form.severity.label.text|string, 'orderable':True, 'className':'export', 'render':'choices', 'render_arg': [(False, ''), (True, '✓')]},
  {'name':'builtin', 'title':form.builtin.label.text|string, 'orderable':True, 'className':'export', 'render':'choices', 'render_arg': [(False, ''), (True, '✓')]},
  {'name':'type', 'title':_('Rule Type'), 'orderable':True, 'className':'export', 'render':'choices', 'render_arg': [(0, _('Application Rule')), (1, _('Unique Index')), (2, _('Check Constraint'))]},
  {'name':'owner', 'title':form.owner_id.label.text|string, 'orderable':True, 'className':'export'}
] %}
