{% extends 'common/edit.html' %}
{% block edit_form %}
  <div class="mb-3">
    {{ form.related_dns_records.label(class='form-label') }}
    <div class="card">
      <div class="card-body bg-light p-2">
        {{ form.related_dns_records(class='form-control') }}
        <div class="text-end">
          <a class="btn btn-sm btn-primary"
             href="{{ url_for('dnsrecord', 'new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    {{ form.related_dhcp_records.label(class='form-label') }}
    <div class="card">
      <div class="card-body bg-light p-2">
        {{ form.related_dhcp_records(class='form-control') }}
        <div class="text-end">
          <a class="btn btn-sm btn-primary"
             href="{{ url_for('dhcprecord', 'new') }}">{% trans %}Create new{% endtrans %}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    {{ form.related_subnets.label(class='form-label') }}
    <div class="card">
      <div class="card-body bg-light p-2">{{ form.related_subnets(class='form-control') }}</div>
    </div>
  </div>
{% endblock %}