{% extends 'common/edit.html' %}
{% block edit_form %}
  <div class="mb-2">
    {{ form.related_dns_records.label(class='form-label') }}
    <div class="card">
      <div class="card-body bg-light p-2">
        {{ form.related_dns_records(class='form-control') }}
        <div class="text-end">
          <a class="btn btn-sm btn-primary"
             href="{{ url_for('dnsrecord', 'new', **{'d-value':obj.ip, 'd-type':'A'}) }}">{% trans %}Create Forward{% endtrans %}</a>
          <a class="btn btn-sm btn-primary"
             href="{{ url_for('dnsrecord', 'new', **{'d-name':obj.reverse_pointer, 'd-type':'PTR'}) }}">{% trans %}Create Reverse{% endtrans %}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-2">
    {{ form.related_dhcp_records.label(class='form-label') }}
    <div class="card">
      <div class="card-body bg-light p-2">
        {{ form.related_dhcp_records(class='form-control') }}
        <div class="text-end">
          <a class="btn btn-sm btn-primary"
             href="{{ url_for('dhcprecord', 'new', **{'d-ip':obj.ip}) }}">{% trans %}Create new{% endtrans %}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-2">
    {{ form.related_subnets.label(class='form-label') }}
    <div class="card">
      <div class="card-body bg-light p-2">{{ form.related_subnets(class='form-control') }}</div>
    </div>
  </div>
  <div class="mb-2">
    {{ form.notes.label(class='form-label') }}
    {{ form.notes(class='form-control') }}
  </div>
  <div class="mb-2">
    {{ form.owner_id.label(class='form-label') }}
    {{ form.owner_id(class='form-control') }}
  </div>
{% endblock %}
