{% extends 'common/edit.html' %}
{% import "components/table.html" as _table with context %}
{% import "macro.html" as macro %}
{% block buttonbox_actions %}
  {# Reverse Record #}
  {% if obj.type in ['A', 'AAAA', 'PTR'] %}
    {% set reverse_record = obj.get_reverse_dns_record() %}
    {% if reverse_record %}
      <ButtonboxRef label={ _("Show Reverse Record") if obj.type in ['A', 'AAAA'] else _('Show Forward Record') } model_name="dnsrecord" model-id={ reverse_record.id } summary={ reverse_record.summary } />
    {% endif %}
  {% endif %}
  {# Related Subnet #}
  {% if obj.subnet_id %}
    <ButtonboxRef label={ _("Parent Subnet") } model_name="subnet" model-id={ obj.subnet_id } summary={ obj.subnet_range } />
  {% endif %}
  {# Related DNS Zone #}
  {% if obj.dnszone_id %}
    <ButtonboxRef label={ _("Parent DNS Zone") } model_name="dnszone" model_id={ obj.dnszone_id } summary={ obj.dnszone_name } />
  {% endif %}
  {# Related IP #}
  {% if obj._ip %}
    <ButtonboxRef label={ _("Related IP") } model_name="ip" model_id={ obj._ip.id } summary={ obj._ip.ip } />
  {% endif %}
{% endblock %}
{# Create Reverse Record #}
{% block extra_actions %}
  {% if obj.type in ['A', 'AAAA', 'PTR'] %}
    {% set reverse_record = obj.get_reverse_dns_record() %}
    {% if not reverse_record %}
      <form action="reverse_record" method="post">
        <input class="btn btn-secondary text-nowrap"
               type="submit"
               value="{{ _("Create Reverse Record") if obj.type in ['A', 'AAAA'] else _('Create Forward Record') }}">
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
{# Display related DNS Record #}
{% block extra_form %}
  <div id="related" class="card udb-card-table-wrapper mb-2">
    {% set columns = [
          {'name':'id', 'visible':False},
          {'name':'status', 'visible':False, 'search': '(1|2)', 'regex':True},
          {'name':'name', 'title':_('Related DNS Record'), 'orderable':True, 'render':'summary', 'render_arg':'dnsrecord', 'className':'export'},
          {'name':'type', 'title':form.type.label.text|string, 'orderable':True, 'className':'export'},
          {'name':'ttl', 'title':form.ttl.label.text|string, 'orderable':True, 'className':'export'},
          {'name':'value', 'title':form.value.label.text|string, 'orderable':True, 'className':'export'},
          {'name': 'url', 'visible':False}
        ] %}
    {{ _table.table('related',
        columns=columns,
        order=[[ 3, 'asc' ]],
        searching=False,
        dom_cfg=_table.dom_without_header,
        empty_message=_('No DNS record for the same hostname.') ,
    page_length=5) }}
  </div>
{% endblock %}
