{% extends 'common/edit.html' %}
{% import "components/table.html" as _table with context %}
{% import "macro.html" as macro %}
{% block extra_actions %}
  {# Reverse Record #}
  {% if obj.type in ['A', 'AAAA', 'PTR'] %}
    <div class="col mb-2">
      {% set reverse_record = obj.get_reverse_dns_record() %}
      {% if reverse_record %}
        <a href="{{ url_for(reverse_record, 'edit') }}"
           class="btn btn-outline-primary text-nowrap w-100">
          {{ _("Show Reverse Record") if obj.type in ['A', 'AAAA'] else _('Show Forward Record') }}
        </a>
      {% else %}
        <form action="reverse_record" method="post">
          <input class="btn btn-outline-primary text-nowrap w-100"
                 type="submit"
                 value="{{ _("Create Reverse Record") if obj.type in ['A', 'AAAA'] else _('Create Forward Record') }}">
        </form>
      {% endif %}
    </div>
  {% endif %}
  {# Related Subnet #}
  {% if obj.subnet_id %}
    <div class="col mb-2">
      <a href="{{ url_for('subnet', obj.subnet_id, 'edit') }}"
         class="btn btn-outline-primary text-nowrap w-100">
        {{ macro.icon("subnet") }} {% trans %}Show parent Subnet{% endtrans %}
      </a>
    </div>
  {% endif %}
  {# Related DNS Zone #}
  {% if obj.dnszone_id %}
    <div class="col mb-2">
      <a href="{{ url_for('dnszone', obj.dnszone_id, 'edit') }}"
         class="btn btn-outline-primary text-nowrap w-100">
        {{ macro.icon("dnszone") }} {% trans %}Show parent DNS Zone{% endtrans %}
      </a>
    </div>
  {% endif %}
  {# Related IP #}
  {% if obj._ip %}
    <div class="col mb-2">
      <a href="{{ url_for(obj._ip, 'edit') }}"
         class="btn btn-outline-primary text-nowrap w-100">
        {{ macro.icon("ip") }} {% trans %}Show related IP{% endtrans %}
      </a>
    </div>
  {% endif %}
{% endblock %}
{% block extra_form %}
  {# Display related DNS Record #}
  <div id="related" class="card udb-card-table-wrapper mb-2">
    {% set columns = [
          {'name':'id', 'visible':False},
          {'name':'status', 'visible':False, 'search': '(1|2)', 'regex':True},
          {'name':'name', 'title':_('Related DNS Record'), 'orderable':True, 'render':'summary', 'render_arg':'dnsrecord', 'className':'export'},
          {'name':'type', 'title':form.type.label.text|string, 'orderable':True, 'className':'export'},
          {'name':'ttl', 'title':form.ttl.label.text|string, 'orderable':True, 'className':'export'},
          {'name':'value', 'title':form.value.label.text|string, 'orderable':True, 'className':'export'},
          {'name': 'url', 'visible':False}
        ] %}
    {{ _table.table('related',
        columns=columns,
        order=[[ 3, 'asc' ]],
        searching=False,
        dom_cfg=_table.dom_without_header,
        empty_message=_('No DNS record for the same hostname.') ,
    page_length=5) }}
  </div>
{% endblock %}
