{% extends 'common/list.html' %}
{% set columns = [
  {'name':'id', 'visible':False},
  {'name':'status', 'visible':False, 'search': '(1|2)', 'regex':True},
  {'name':'name', 'title':form.name.label.text|string, 'orderable':True, 'render':'summary', 'render_arg':'dnsrecord', 'className':'export'},
  {'name':'type', 'title':form.type.label.text|string, 'orderable':True, 'className':'export'},
  {'name':'ttl', 'title':form.ttl.label.text|string, 'orderable':True, 'className':'export'},
  {'name':'value', 'title':form.value.label.text|string, 'orderable':True, 'className':'export'},
  {'name':'vrf_id', 'visible':False},
  {'name':'vrf', 'title':form.vrf_id.label.text|string, 'orderable':True, 'className':'export'},
  {'name':'notes', 'title':form.notes.label.text|string, 'orderable':True, 'className':'export'},
  {'name':'owner', 'title':form.owner_id.label.text|string, 'orderable':True, 'className':'export'}
] %}
{# Add menu to filter by type. #}
{% set ns = namespace(type_btn=[]) %}
{% for t in model.TYPES|sort %}
  {% set ns.type_btn = ns.type_btn + [{'text': t, 'extend': 'btnfilter', 'column': 'type:name', 'search': '^' + t + '$' , 'regex': True, 'multi': True}] %}
{% endfor %}
{% set type_menu = {'text': _('Type') + ' ', 'extend': 'collectionfilter', 'popoverTitle': _('Type'), 'buttons': ns.type_btn, 'column': 'type:name' } %}
{% set extra_buttons = [type_menu] %}
{# Add menu to filter by VRF. #}
{% set ns = namespace(vrf_btn=[]) %}
{% for id, name, count in vrf_list|sort(attribute=1) %}
  {% set ns.vrf_btn = ns.vrf_btn + [{'text':'%s (%s)' % (name, count), 'extend': 'btnfilter', 'column': 'vrf_id:name', 'search': '^' + id|string + '$' , 'regex': True, 'multi': True}] %}
{% endfor %}
{% set vrf_menu = {'text': _('VRF') + ' ', 'extend': 'collectionfilter', 'popoverTitle': _('VRF'), 'buttons': ns.vrf_btn, 'column': 'vrf_id:name' } %}
{% set extra_buttons = extra_buttons + [vrf_menu] %}
