{% extends 'common/list.html' %}
{% set columns = [
{'data':'name', 'title':form.name.label.text, 'orderable':True, 'render':'summary'},
{'data':'type', 'title':form.type.label.text, 'orderable':True},
{'data':'ttl', 'title':form.ttl.label.text, 'orderable':True},
{'data':'value', 'title':form.value.label.text, 'orderable':True},
{'data':'notes', 'title':form.notes.label.text, 'orderable':True},
{'name':'owner_id', 'data':'owner_id', 'title':form.owner_id.label.text, 'orderable':True, 'render':'owner'}] %}
