{% extends 'deployment/layout.html' %}
{% import "components/table.html" as _table with context %}
{% import "common/status.html" as _status %}
{% import "macro.html" as macro %}
{% block title %}
  {% trans %}Deployment #{% endtrans %}{{ deployment.id }}
{% endblock %}
{% block content %}
  {# Changes #}
  <div class="row">
    <div class="col-md">
      <h4>{% trans %}Changes{% endtrans %}</h4>
      <p>{% trans %}List of changes activated by this deployment.{% endtrans %}</p>
    </div>
    <div class="col-md-9">
      <div class="card mb-2">
        {% set columns = [
                  {'name':'id', 'visible':False},
                  {'name':'summary', 'title':_('Record'), 'orderable':False, 'render':'summary'},
                  {'name':'model_name', 'visible':False },
                  {'name':'author', 'visible':False},
                  {'name':'date', 'visible':False},
                  {'name':'type', 'visible':False },
                  {'name':'body', 'visible':False},
                  {'name':'changes', 'title':_('Changes'), 'orderable':False, 'render':'message_body' },
                  {'name':'url', 'visible':False}
                ] %}
        {{ _table.table('changes.json',
                columns=columns,
                order=[[ 0, 'desc' ]],
                searching=False,
                dom_cfg=_table.dom_without_header,
                page_length=5,
                length_change=False,
                empty_message=_('No changes activated by this deployment.') ,
        ) }}
      </div>
    </div>
  </div>
{% endblock %}
