{% extends 'deployment/layout.html' %}
{% import "components/table.html" as _table %}
{% import "common/status.html" as _status %}
{% import "macro.html" as macro %}
{% block title %}
  {% trans %}Deployment #{% endtrans %}{{ deployment.id }}
{% endblock %}
{% block content %}
  {# Output #}
  <div class="row">
    <div class="col-md">
      <h4>{% trans %}Log{% endtrans %}</h4>
      <p>{% trans %}Output of command line executed by this deployment.{% endtrans %}</p>
    </div>
    <div class="col-md-9">
      <div class="card mb-2 bg-dark text-white p-1">
        <pre><code id="output">{{ deployment.output }}</code></pre>
        {# Show Spinner when running #}
        {% if deployment.state < 2 %}
          <span class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"></span>
        {% endif %}
      </div>
    </div>
  </div>
  {% if deployment.state < 2 %}
    <script>
        myInterval = setInterval(refreshOutput, 1000);
        function refreshOutput() {
            $.ajax({
                url: "output.json",
            }).done(function(data) {
                {# If starting or running, continue to refresh the logs #}
                if(data.state < 2) {
                    $('#output').html(data.output);
                    $("html, body").animate({ scrollTop: $(document).height() });
                } else {
                    location.reload();
                }
            });
        }
    </script>
  {% endif %}
{% endblock %}
