{# Define the button box displayed on top of the edit form. #}
<div class="card-header py-0">
  {# Header bar with actions. #}
  <nav class="udb-buttonbox navbar navbar-expand-lg navbar-light bg-light py-0">
    <div id="placeholder"></div>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end"
         id="navbarSupportedContent">
      <ul class="navbar-nav">
        {{ content }}
      </ul>
    </div>
  </nav>
</div>
