{# def value #}
{%- set icon_table = {
  "dnszone": "bi-collection",
  "subnet": "bi-diagram-3-fill",
  "dhcprecord": "bi-pin",
  "dnsrecord": "bi-signpost-split-fill",
  "ip": "bi-geo-fill",
  "mac": "bi-ethernet",
  "user": "bi-person-fill",
  "vrf": "bi-layers",
  "deployment": "bi-cloud-upload-fill",
  "environment": "bi-terminal-fill",
  "audit": "bi-card-text",
  "rule": "bi-ui-checks"
} -%}
{%- if value.model_name is defined() -%}
  {%- set model_name = value.model_name -%}
{%- elif value._sa_instance_state is defined() -%}
  {%- set model_name = value.__class__.__name__.lower() -%}
{%- else -%}
  {%- set model_name = value -%}
{%- endif -%}
<i {{ attrs.render(class="bi " + icon_table.get(model_name, '') ) }} aria-hidden="true"></i>
