{% import "macro.html" as macro %}
{% macro table(data, columns=[], order=[], empty_message=None, info_message=None, searching=True, buttons=[], paging=True, page_length=25, length_change=True, show_header=True, server_side=False) %}
  {% set language = {
  "aria": {
  "sortAscending": _('activate to sort column ascending'),
  "sortDescending": _('activate to sort column descending')
  },
  "message_new": _('Created by '),
  "message_dirty": _('Modified by '),
  "message_comment": _('Message by '),
  "deleted": _('Deleted'),
  "disabled": _('Disabled'),
  "info": info_message or (_(' from _START_ to _END_ of _TOTAL_ total') if paging else _('Showing total of _TOTAL_')),
  "infoFiltered": _('(filtered from _MAX_ total enries)'),
  "infoEmpty": _('- No records available'),
  "processing": _('Loading...'),
  "search": _('Filter: '),
  "zeroRecords": empty_message or _('List is empty'),
  } %}
  {% set buttons_cfg = {
  "dom": {
  "button": {
  "className": 'btn btn-sm btn-secondary ms-1 mb-1',
  "active": 'active',
  }
  },
  "buttons": buttons
  } %}
  {% set dom_without_header = "<'row'<'col-sm-12'rt>><'row'<'col-sm-12 col-md-7'p>>" %}
  {% set dom_without_length_change = "<'d-sm-flex align-items-center'<'mb-1 flex-grow-1'i><'mb-1'f><B>><'row'<'col-sm-12'rt>><'row'<'col-sm-12 col-md-7'p>>" %}
  {% set dom_all = "<'d-sm-flex align-items-center'<'mb-1 flex-grow-1'li><'mb-1'f><B>><'row'<'col-sm-12'rt>><'row'<'col-sm-12 col-md-7'p>>" %}
  {% set dom_cfg = ( dom_all if length_change else dom_without_length_change) if show_header else dom_without_header %}
  <table class="table table-hover responsive"
         width="100%"
         data-ajax="{{ data }}"
         data-columns='{{ columns | tojson }}'
         data-order='{{ order | tojson | e }}'
         data-language='{{ language | tojson }}'
         data-searching='{{ searching | tojson }}'
         data-buttons='{{ buttons_cfg | tojson }}'
         data-dom="{{ dom_cfg }}"
         data-responsive="true"
         data-paging="{{ paging | tojson }}"
         data-page-length="{{ page_length | tojson }}"
         data-length-change="{{ length_change | tojson }}"
         data-server-side="{{ server_side | tojson }}">
  </table>
{% endmacro %}
