{% import "macro.html" as macro %}
{# djlint:off #}
{% set dom_without_header = "<'row'<'col-sm-12'rt>><'row'<'mt-2'p>>" %}
{% set dom_without_paging = "<'row'<'col-sm-12'rt>>" %}
{% set dom_without_length_change = "<'d-sm-flex align-items-center'<'mb-1 flex-grow-1'i><'mb-1'f><B>><'row'<'col-sm-12'rt>><'row'<'mt-2'p>>" %}
{% set dom_all = "<'d-sm-flex align-items-center'<'mb-1 flex-grow-1'li><'mb-1'f><B>><'row'<'col-sm-12'rt>><'row'<'mt-2'p>>" %}
{# djlint:on #}
{% set buttons_cfg_default = {
  "dom": {
    "button": {
      "className": "btn btn-sm btn-outline-secondary ms-1 mb-1",
      "active": "active"
    },
    "collection": {
      "tag": "div",
      "button": {
        "tag": "a",
        "className": "btn btn-sm btn-light mb-1 w-100 text-start",
        "active": "active",
        "disabled": "disabled"
      }
    }
  }
} %}
{% set classes = {
  "sPaging": "d-flex justify-content-center ",
  "sPageButton": "btn btn-outline-primary ms-1 me-1",
  "sPageButtonActive": "active"
} %}
{% macro table(data, columns=[], order=[], empty_message=None, info_message=None, searching=True, buttons=[], paging=True, page_length=25, length_change=True, buttons_cfg={}, dom_cfg=dom_all, server_side=False, state_save=True, auto_width=False, responsive=True, fixed_header=False, scroll_y=None) %}
  {% set language = {
      "url": url_for('language', lang[0:2]),
      "info": info_message or (_(' from _START_ to _END_ of _TOTAL_ total') if paging else _('Showing total of _TOTAL_')),
      "zeroRecords": empty_message or _('List is empty'),
    } %}
  {% set buttons_cfg = buttons_cfg_default.__or__(buttons_cfg).__or__({'buttons':buttons}) %}
  <table class="table table-hover"
         width="100%"
         data-ajax="{{ data }}"
         data-auto-width='{{ auto_width | tojson }}'
         data-buttons='{{ buttons_cfg | tojson }}'
         data-classes='{{ classes | tojson }}'
         data-columns='{{ columns | tojson }}'
         data-dom="{{ dom_cfg }}"
         data-fixed-header="{{ fixed_header | tojson }}"
         data-language='{{ language | tojson }}'
         data-length-change="{{ length_change | tojson }}"
         data-order='{{ order | tojson | e }}'
         data-page-length="{{ page_length | tojson }}"
         data-paging="{{ paging | tojson }}"
         data-responsive="{{ responsive | tojson }}"
         {% if scroll_y %}data-scroll-y='{{ scroll_y }}'{% endif %}
         data-searching='{{ searching | tojson }}'
         data-server-side="{{ server_side | tojson }}"
         data-state-save="{{ state_save | tojson }}">
  </table>
{% endmacro %}
