<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Not used</title>
</head>

<body class="bg-light">
    <div class="container">
        <div class="card my-10">
            <div class="card-body">
                <h1 class="mb-2">{{header_name}}</h1>
                {% for message in messages %}
                <hr>
                <div class="space-y-3">
                    <h2>{{model_display_name}} {{message.model_object.summary}}</h2>
                    {% import "common/messages.html" as messages %}
                    {{messages.show_message(message)}}
                </div>
                <a href="{{url_for(message.model_object, 'edit#history')}}">
                    {% trans %}View in browser{% endtrans %}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="text-muted text-center my-6">
            {% trans %}You received this email because you are following changes on this record.{% endtrans %}
            <br />
            <a href="{{url_for('TODO')}}">{% trans %}Edit notification preferences{% endtrans %}</a>
        </div>
    </div>
</body>

</html>