{% import "macro.html" as macro %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        {%- if messages[0].changes is none -%}
        Comment on {{ macro.display_name(messages[0].model_name) }} {{ messages[0].model_object.summary }} by {{
        messages[0].author_name }}
        {%- else -%}
        {%- for msg in messages %}{{ macro.display_name(msg.model_name) }} {{ msg.model_object.summary }}{{ ", " if not
        loop.last else " " }}{% endfor -%}
        {{ _('modified') if messages[0].type == 'dirty' else _('created') }} by {{messages[0].author_name}}
        {%- endif -%}
    </title>
</head>

<body class="bg-light">
    <div class="container">
        <div class="card my-10">
            <div class="card-body">
                <h1 class="mb-2">{{header_name}}</h1>
                {% for message in messages %}
                <hr>
                <div class="space-y-3">
                    <h2>{{macro.display_name(message.model_name)}} {{message.model_object.summary}}</h2>
                    {% import "common/messages.html" as messages %}
                    {{messages.show_message(message)}}
                </div>
                <a href="{{url_for(message.model_object, 'edit#history')}}">
                    {% trans %}View in browser{% endtrans %}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="text-muted text-center my-6">
            {% trans %}You received this email because you are following changes on these records.{% endtrans %}
            <br />
            <a href="{{url_for('notifications')}}">{% trans %}Edit notification settings{% endtrans %}</a>
        </div>
    </div>
</body>

</html>