<div class="card shadow mb-4">
    {# Card Header - Dropdown #}
    <div class="card-header py-3">
        <span class="h6">{% trans %}Last activities{% endtrans %}</span>
        <small>- {% trans %}last 10 modifications{% endtrans %}</small>
    </div>
    {# Card Body #}
    <div class="card-body p-0" style="height: 420px; overflow: clip auto;">
        {% set columns = [
        {'name':'id', 'visible':False},
        {'name':'status', 'visible':False},
        {'name':'summary', 'title':_('Record'), 'orderable':False, 'render':'summary'},
        {'name':'model_name', 'visible':False },
        {'name':'author', 'visible':False},
        {'name':'date', 'visible':False},
        {'name':'type', 'visible':False },
        {'name':'body', 'visible':False},
        {'name':'changes', 'title':_('Changes'), 'orderable':False, 'render':'message_body' }] %}
        {{ _table.table(url_for('audit','data.json'), columns=columns, empty_message=_('No modification'), dom_cfg=_table.dom_without_header, paging=False) }}
    </div>
</div>
