<div class="card shadow mb-4">
  <div class="card-header py-3">
    <span class="h6">{% trans %}Inconsistencies{% endtrans %}</span>
  </div>
  <div class="card-body p-0">
    {% set columns = [
          {'name':'description', 'title':_('Rule')},
          {'name':'id', 'visible':False},
          {'name':'severity', 'visible':False},
          {'name':'model_name', 'visible':False},
          {'name':'name', 'title':_('Record'), 'render':'summary'},
          {'name':'url', 'visible':False},
        ] %}
    {{ _table.table(url_for('rule','linter.json') , columns=columns, empty_message=_('No inconsistencies were discovered.'), dom_cfg=_table.dom_without_paging, paging=False, scroll_y='354px') }}
  </div>
</div>
