{% extends 'layout.html' %}
{% import "macro.html" as macro %}
{% import "common/status.html" as _status with context %}
{% block body %}
<div id="app" class="row">
    <div class="offset-xl-2 col-xl-8 col-md-10">
        <div class="d-flex mb-4">
            <!-- Go Back -->
            <a class="btn btn-primary btn-circle me-2 align-self-center" onclick="history.back()"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans %}Go Back{% endtrans%}">
                <i class="bi bi-chevron-left" aria-hidden="true"></i>
                <span class="visually-hidden">{% trans %}Go Back{% endtrans%}</span>
            </a>
            <!-- Title -->
            <h2 class="flex-fill mb-0">
                Edit {{macro.display_name(model_name)}} {{(form|first).data}}
            </h2>
            {% if has_status %}
            <!-- Status -->
            <div class="align-self-center">
                {{ _status.dropdown(obj) }}
            </div>
            {% endif %}
        </div>
        {% include "flash.html" %}
        <form method="POST" class="mb-4">
            {% block edit_form %}
            {{form()}}
            {% endblock %}
            <div class="text-center text-lg-start mt-4 pt-2">
                {% block edit_form_submit %}
                {% set save_disabled = not currentuser.allow_edit_record() %}
                <button type="submit" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;" {% if
                    save_disabled %}disabled{% endif %}>{%trans%}Save changes{%endtrans%}</button>
                <a class="btn btn-secondary" href="{{url_for(model)}}">{%trans%}Cancel{%endtrans%}</a>
                {% endblock %}
            </div>
        </form>
        <!-- Message thread -->
        {% include "common/messages.html" %}
    </div>
    <div class="col-xl-2 col-md-2">
        {% include "common/followers.html" %}
    </div>
</div>
{% endblock %}