{% extends 'layout.html' %}
{% import "macro.html" as macro %}
{% import "common/status.html" as _status with context %}
{% block title %}{{ macro.display_name(model_name)}} {{(form|first).data }}{% endblock %}
{% block body %}
  {# Header #}
  <div class="row">
    <div class="offset-xl-2 col-xl-8">
      <div class="d-flex mb-4">
        {# Go Back button #}
        <a class="btn btn-primary btn-circle me-2 align-self-center"
           onclick="history.back()"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           title="{% trans %}Go Back{% endtrans %}">
          <i class="bi bi-chevron-left" aria-hidden="true"></i>
          <span class="visually-hidden">{% trans %}Go Back{% endtrans %}</span>
        </a>
        {# Title #}
        <h2 class="flex-fill mb-0">
          {{ _('Edit') if is_editable else _('View') }} {{ macro.display_name(model_name)}} {{(form|first).data }}
        </h2>
        {# /Title #}
      </div>
    </div>
  </div>
  {# /Header #}
  <div class="row">
    <div class="col flex-grow-1 order-3 order-xl-0"></div>
    <div class="col-xl-8 order-1 order-xl-1">
      {# Flash messages #}
      {% include "flash.html" %}
      <form method="POST" action="{{ url_for(obj, 'edit') }}">
        <div class="card mb-3 {{ _status.bg_color(obj) }}">
          <div class="card-body">
            {% if has_status %}
              {# Status Badge #}
              <div style="position: absolute; right: 1rem">
                <div class="h5">{{ _status.badge(obj, force=True) }}</div>
              </div>
              {# /Status Badge #}
            {% endif %}
            {# Edit Form #}
            <div class="row">
              {% block edit_form %}{{ form()}}{% endblock %}
            </div>
            {# /Edit Form #}
          </div>
          <div class="card-footer">
            {# Submit Area #}
            {% if is_editable and has_messages %}
              <div class="mb-2 form-floating">
                <textarea name="body"
                          class="form-control"
                          placeholder="Describe the reason for the changes or leave a message"
                          id="floatingTextarea2"
                          style="height: 80px"></textarea>
                <label for="floatingTextarea2">{% trans %}Describe the reason for the changes or leave a message{% endtrans %}</label>
              </div>
            {% endif %}
            <div class="text-start">
              {% if is_editable and has_status %}
                {# Submit button with state #}
                <div class="btn-group">
                  <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
                  <button type="button"
                          class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <span class="visually-hidden">{% trans %}Toggle Dropdown{% endtrans %}</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button type="submit"
                              class="dropdown-item text-danger"
                              name="status"
                              value="deleted">
                        {% trans %}Save changes and Delete{% endtrans %}
                      </button>
                    </li>
                    <li>
                      <button type="submit"
                              class="dropdown-item text-warning"
                              name="status"
                              value="disabled">
                        {% trans %}Save changes and Disable{% endtrans %}
                      </button>
                    </li>
                    <li>
                      <button type="submit" class="dropdown-item" name="status" value="enabled">
                        {% trans %}Save changes and Enable{% endtrans %}
                      </button>
                    </li>
                  </ul>
                </div>
              {% elif is_editable %}
                {# Submit button #}
                <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
              {% endif %}
              <a class="btn btn-secondary" href="{{ url_for(model)}}">{% trans %}Cancel{% endtrans %}</a>
            </div>
            {# /Submit Area #}
          </div>
        </div>
      </form>
      {# Message thread #}
      {% include "common/messages.html" %}
    </div>
    <div class="col flex-grow-1 order-0 order-xl-2">
      <div class="row align-items-baseline">
        {% if self.extra_actions()|trim %}
          <h4 class="d-none d-xl-block">{% trans %}Actions{% endtrans %}</h4>
          {% block extra_actions %}{% endblock %}
        {% endif %}
        {% if has_followers %}
          <h4 class="d-none d-xl-block">{% trans %}Notification{% endtrans %}</h4>
          {% include "common/followers.html" %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
