{% macro check_square(selected) %}
{% if selected %}<i class="bi bi-check"></i>{% else %}<i class="bi bi-check opacity-0"></i>{% endif %}
{% endmacro %}
<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-toggles2"></i>
        {% trans %}Display Options{% endtrans %}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if has_status %}
        <li>
            <a class="dropdown-item" href="{{ url_for(deleted=False) }}">
                {{check_square(not deleted)}}
                {% trans %}Hide deleted records{% endtrans %}
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ url_for(deleted=True) }}">
                {{check_square(deleted)}}
                {% trans %}Show{% endtrans %}
            </a>
        </li>
        {% endif %}
        <li>
            <hr class="dropdown-divider">
        </li>
        {% if has_owner %}
        <li>
            <a class="dropdown-item" href="{{ url_for(personal=False) }}">
                {{check_square(not personal)}}
                {% trans %}Owned by anyone{% endtrans %}
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ url_for(personal=True) }}">
                {{check_square(personal)}}
                {% trans %}Owned by me{% endtrans %}
            </a>
        </li>
        {% endif %}
    </ul>
</div>