{% if has_followers %}
  <h4 class="d-none d-xl-block">{% trans %}Followers{% endtrans %}</h4>
  {# Followers List #}
  <div class="dropdown mb-2 w-100">
    {% set is_following = obj.is_following(currentuser) %}
    <form method="post"
          action="{{ url_for(obj, 'unfollow' if is_following else 'follow')}}">
      <input type="hidden"
             id="user_id"
             name="user_id"
             value="{{ currentuser.id }}"/>
      <button class="btn btn-outline-primary dropdown-toggle w-100 text-nowrap"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        {% if obj.followers %}
          {{ ngettext("%(num)d follower", "%(num)d followers", obj.followers|count)|format(num=obj.followers|count) }}
        {% else %}
          {% trans %}No followers{% endtrans %}
        {% endif %}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <button type="submit" class="dropdown-item">
            {{ _('Stop following') if is_following else _('Start following') }}
          </button>
        </li>
        {% if obj.followers %}
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <h6 class="dropdown-header">{% trans %}Followers:{% endtrans %}</h6>
          </li>
        {% endif %}
        {% for userobj in obj.followers %}
          <li>
            <a class="dropdown-item">{{ userobj.fullname or userobj.username }}</a>
          </li>
        {% endfor %}
      </ul>
    </form>
  </div>
  {# /Followers List #}
{% endif %}
