{# Followers #}
<div class="col mb-2 text-nowrap">
  {# Toggle Button to subscribe or unsubscribe #}
  {% set is_following = obj.is_following(currentuser) %}
  <form method="post"
        action="{{ url_for(obj, 'unfollow' if is_following else 'follow') }}">
    <input type="hidden"
           id="user_id"
           name="user_id"
           value="{{ currentuser.id }}"/>
    {# Desktop #}
    <button class="btn btn-outline-primary d-none d-xl-inline-block w-100 dropdown-item"
            type="submit">
      <i class="bi {{ 'bi-bell-slash' if is_following else 'bi-bell' }}"
         aria-hidden="true"></i>
      {{ _('Stop following') if is_following else _('Start following') }}
    </button>
    {# Mobile #}
    <div class="btn-group w-100 d-xl-none" role="group">
      <button class="btn btn-outline-primary dropdown-item" type="submit">
        <i class="bi {{ 'bi-bell-slash' if is_following else 'bi-bell' }}"
           aria-hidden="true"></i>
        {{ _('Stop following') if is_following else _('Start following') }}
      </button>
      <div class="btn-group " role="group">
        <button type="button"
                class="btn btn-outline-primary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          {{ obj.followers|count }} <i class="bi bi-person" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
          {% for userobj in obj.followers %}
            <li>
              <a class="dropdown-item">{{ userobj.fullname or userobj.username }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </form>
</div>
{# Followers List #}
<div class="col-12 mb-2 d-none d-xl-block">
  {% trans %}Followers:{% endtrans %}
  <ul class="list-group">
    {% for userobj in obj.followers %}
      <li class="list-group-item">{{ userobj.fullname or userobj.username }}</li>
    {% else %}
      <li class="list-group-item">{% trans %}No followers{% endtrans %}</li>
    {% endfor %}
  </ul>
</div>
{# /Followers #}
