{% extends 'layout.html' %}
{% import "macro.html" as macro %}
{% import "components/table.html" as _table with context %}
{% block title %}{{ macro.display_name(model_name) }}{% endblock %}
{% block body %}
  <div class="row">
    <div class="col">
      <h4 id="title">{{ macro.icon(model_name) }} {% trans %}List of{% endtrans %} {{ macro.display_name(model_name) }}</h4>
    </div>
    <div class="col text-end mb-2">
      {% if has_new %}
        <a class="btn btn-primary {% if not new_perm %}disabled{% endif %}"
           href="{{ url_for(model, 'new') }}"
           role="button"
           {% if not new_perm %}aria-disabled="true" title="{% trans %}Permissions required{% endtrans %}"{% endif %}>
          {% trans %}Create{% endtrans %}
        {{ macro.display_name(model_name) }}</a>
      {% endif %}
    </div>
  </div>
  {% include "flash.html" %}
  {# Add "Reset" filter #}
  {% set buttons = [{'text': _('Reset'), 'extend': 'reset'}] %}
  {% set columns = columns|d([]) %}
  {# Append Action columns #}
  {% set columns = columns + [{'name':'url', 'title':'', 'orderable':False, 'render':'action', 'width': '30px'}] %}
  {# Add Status Filter if status column exists #}
  {% if 'status' in (columns|map(attribute='name')|list) %}
    {% set buttons = buttons + [{'text': _('Show Deleted'), 'extend': 'btnfilter', 'column': 'status:name', 'search':'(enabled|disabled|deleted)', 'search_off': '(enabled|disabled)', 'regex': True }] %}
  {% endif %}
  {# Add Owner filter if owner column exists #}
  {% if 'owner' in (columns|map(attribute='name')|list) %}
    {% set buttons = buttons + [{'text': _('Show only mine'), 'extend': 'btnfilter', 'column': 'owner:name', 'search': currentuser.summary}] %}
  {% endif %}
  {% set buttons = buttons + extra_buttons|d([]) %}
  {# Add "Export" button collection #}
  {% set download_filename = _('export_') + macro.display_name(model_name)|lower %}
  {% set csv_button = {'text': _('Download Csv'), 'extend': 'csv', 'exportOptions': {'columns': '.export'}, 'title': download_filename, 'className':'udb-btn-download text-nowrap' } %}
  {% set xsl_button = {'text': _('Download Excel'), 'extend': 'excel', 'exportOptions': {'columns': '.export'}, 'title': download_filename, 'className':'udb-btn-download text-nowrap' } %}
  {% set pdf_button = {'text': _('Download PDF'), 'extend': 'pdf', 'exportOptions': {'columns': '.export'}, 'title': download_filename, 'className':'udb-btn-download text-nowrap', 'orientation':'landscape' } %}
  {% set export_button = {'text': _('Export') + ' ', 'extend': 'collection', 'align':'button-right', 'autoClose':True, 'background': False, 'popoverTitle': _('Export'), 'buttons': [ csv_button, xsl_button, pdf_button], 'className':'udb-btn-export-menu' } %}
  {% set buttons = buttons + [export_button] %}
  {# Show default table #}
  {{ _table.table(data="data.json", columns=columns, buttons=buttons, fixed_header=True) }}
{% endblock body %}
