{% extends 'layout.html' %}
{% import "macro.html" as macro %}
{% import "components/table.html" as _table with context %}

{% block body %}
<div class="d-flex justify-content-between">
    <h4 class="flex-fill" id="title">{{macro.icon(model_name)}} {% trans %}List of{% endtrans %} {{macro.display_name(model_name)}}</h2>
    <div class="btn bg-light align-self-center me-2">
        {%trans%}Filter:{% endtrans %} <span id="filter-location" />
    </div>
    <div class="align-self-center">
        {% if has_new %}
        {% set new_disabled = not currentuser.allow_new_record() %}
        <a class="btn btn-primary {% if new_disabled %}disabled{% endif %}" href="{{url_for(model, 'new')}}"
            role="button" {% if new_disabled %}aria-disabled="true" {% endif %}>{%trans%}Create{%endtrans%}
            {{macro.display_name(model_name)}}</a>
        {% endif %}
        {% include "common/filter.html" %}
    </div>
</div>

{# Default a default columns list from form #}
{% set ns = namespace(table_default_columns=[]) %}
{% for field in form %}
{% if field.widget['input_type'] != 'hidden' %}
{% set ns.table_default_columns = ns.table_default_columns + [(field.name, field.label.text, True)] %}
{% endif %}
{% endfor %}

{# Show default table #}
{% block table_list scoped %}
{% call(obj) _table.table(obj_list, table_extra_columns=table_extra_columns|d(ns.table_default_columns), filter_location_id='#filter-location') %}
    {% for col in table_extra_columns|d(ns.table_default_columns) %}
    <td>
        {% if loop.first %}
        <a href="{{url_for(obj, 'edit')}}">
            {{ macro.icon(obj, "float-start pe-2") }}
            {{ obj|attr(col[0]) or "-" }}
        </a>        
        {% else %}
        {{ obj|attr(col[0]) or "-" }}
        {% endif %}
    </td>
    {% endfor %}
{% endcall %}
{% endblock table_list %}
{% endblock body %}

{% block script %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}