{% extends 'layout.html' %}
{% import "macro.html" as macro %}
{% import "components/table.html" as _table with context %}

{% block body %}
<div class="d-flex justify-content-between">
    <h4 class="flex-fill" id="title">{{macro.icon(model_name)}} {% trans %}List of{% endtrans %} {{macro.display_name(model_name)}}</h2>
    <div class="align-self-center">
        {% if has_new %}
        {% set new_disabled = not currentuser.allow_new_record() %}
        <a class="btn btn-primary {% if new_disabled %}disabled{% endif %}" href="{{url_for(model, 'new')}}"
            role="button" {% if new_disabled %}aria-disabled="true" {% endif %}>{%trans%}Create{%endtrans%}
            {{macro.display_name(model_name)}}</a>
        {% endif %}
        {% include "common/filter.html" %}
    </div>
</div>

{# Default a default columns list #}
{% set table_default_columns = [] %}
{% if obj_list and obj_list|list|length > 0 and obj_list[0].notes is defined() %}
{%- set table_default_columns = table_default_columns + [('notes', _('Notes'), True)] -%}
{% endif %}
{% if obj_list and obj_list|list|length > 0 and obj_list[0].owner is defined() %}
{%- set table_default_columns = table_default_columns + [('owner_name', _('Owner'), True)] -%}
{% endif %}

{# Show default table #}
{% block table_list scoped %}
{% call(obj) _table.table(obj_list, table_extra_columns=table_extra_columns|d(table_default_columns)) %}
    {% for col in table_extra_columns|d(table_default_columns) %}
    <td>
        {{ obj|attr(col[0]) or "-" }}
    </td>
    {% endfor %}
{% endcall %}
{% endblock table_list %}
{% endblock body %}

{% block script %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}