{% extends 'layout.html' %}
{% import "macro.html" as macro %}
{% block title %}
  {% trans %}Create a new{% endtrans %} {{ macro.display_name(model_name)}}
{% endblock %}
{% block body %}
  <div class="row">
    <div class="offset-xl-2 col-xl-8">
      <div class="d-flex mb-2">
        {# Go Back #}
        <a class="btn btn-primary btn-circle me-2 align-self-center"
           href="{{ form.referer.data or url_for(model) }}"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           title="{% trans %}Go Back{% endtrans %}">
          <i class="bi bi-chevron-left" aria-hidden="true"></i>
          <span class="visually-hidden">{% trans %}Go Back{% endtrans %}</span>
        </a>
        {# Title #}
        <h2 class="flex-fill mb-0">{% trans %}Create a new{% endtrans %} {{ macro.display_name(model_name)}}</h2>
      </div>
      {% include "flash.html" %}
      <form method="POST" action="{{ url_for(model, 'new') }}">
        <div class="card">
          <div class="card-body">{{ form()}}</div>
          <div class="card-footer">
            <button type="submit"
                    class="btn btn-primary"
                    style="padding-left: 2.5rem;
                           padding-right: 2.5rem">
              {% trans %}Create{% endtrans %}
              {{ macro.display_name(model_name)}}
            </button>
            <a class="btn btn-secondary" href="{{ url_for(model) }}">{% trans %}Cancel{% endtrans %}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
