{% set status_label = {2:_('Enabled'), 1: _('Disabled'), 0: _('Deleted')} %}
{% set status_bs_cls = {2: 'success', 1: 'warning', 0: 'danger'} %}
{% macro badge(obj, force=False) %}
  {% if obj.estatus != 2 or force %}
    <span class="badge rounded-pill bg-{{ status_bs_cls.get(obj.estatus, 'secondary') }}">
      {{ status_label.get(obj.estatus, obj.estatus) }}
      {% if obj.estatus!=obj.status %}inherit from parent{% endif %}
    </span>
  {% endif %}
{% endmacro %}
{% macro bg_color(obj) %}
  {%- if obj.estatus != 2 or force -%}
    bg-light-{{ status_bs_cls.get(obj.estatus, 'secondary') }}
  {%- endif -%}
{% endmacro %}
