{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h2>
            Create a new {{display_name}}
        </h2>
        {% include "flash.html" %}
        <form method="POST">
            {{form}}

            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">{%trans%}Create{%endtrans%}
                    {{display_name}}</button>
                <a class="btn btn-secondary" href="{{url_for(base_url)}}">{%trans%}Cancel{%endtrans%}</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}