{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="offset-xl-2 col-xl-8">
        <div class="d-flex mb-4">
            <!-- Go Back -->
            <a class="btn btn-primary btn-circle me-2 align-self-center" href="{{url_for(base_url)}}"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans %}Go Back{% endtrans%}">
                <i class="fas fa-angle-left"></i>
                <span class="visually-hidden">{% trans %}Go Back{% endtrans%}</span>
            </a>
            <!-- Title -->
            <h2 class="flex-fill mb-0">
                Create a new {{display_name}}
            </h2>
        </div>
        {% include "flash.html" %}
        <form method="POST">
            {{form()}}
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">{%trans%}Create{%endtrans%}
                    {{display_name}}</button>
                <a class="btn btn-secondary" href="{{url_for(base_url)}}">{%trans%}Cancel{%endtrans%}</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}