<div if="followers" class="followers-list">
    {% if not obj.is_following(currentuser) %}
    <a href="{{url_for(base_url, obj.id, 'follow', currentuser.id)}}">Start following</a>
    {% else %}
    <a href="{{url_for(base_url, obj.id, 'unfollow', currentuser.id)}}">Stop following</a>
    {% endif %}

    {% if not obj.followers %}
    <p>{% trans %}No followers{% endtrans %}</p>
    {% endif %}
    <ul>
        {% for userobj in obj.followers %}
        <li>
            {{ macro.user(userobj) }}
            <a href="{{url_for(base_url, obj.id, 'unfollow', userobj.id)}}" title="{%trans%}unfollow{%endtrans%}"><i
                    class="fas fa-times"></i><span class="visually-hidden">{%trans%}unfollow{%endtrans%}</span></a>
        </li>
        {% endfor %}
    </ul>
</div>