{% extends 'layout.html' %}
{% import "components/table.html" as _table with context %}
{% import "common/status.html" as _status %}
{% import "macro.html" as macro %}
{% macro dashboard_card(model_name, count, color) %}
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-{{ color }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <a href="{{ url_for(model_name, '') }}"
               class="stretched-link text-uppercase mb-1 text-{{ color }} fw-bold">
              {{ macro.display_name(model_name) }}
            </a>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count }}</div>
          </div>
          <div class="col-auto">{{ macro.icon(model_name, 'h1 text-secondary') }}</div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{% block title %}
  {% trans %}Dashboard{% endtrans %}
{% endblock title %}
{% block body %}
  <h1>{% trans %}Dashboard{% endtrans %}</h1>
  <div class="row">
    {# VRF #}
    {{ dashboard_card('vrf', vrf_count, 'primary') }}
    {# Subnet #}
    {{ dashboard_card('subnet', subnet_count, 'primary') }}
    {# IP #}
    {{ dashboard_card('ip', ip_count, 'primary') }}
    {# DNS Zones #}
    {{ dashboard_card('dnszone', dnszone_count, 'primary') }}
    {# DNS Record #}
    {{ dashboard_card('dnsrecord', dnsrecord_count, 'primary') }}
    {# DHCP Reservation #}
    {{ dashboard_card('dhcprecord', dhcprecord_count, 'primary') }}
    {# DHCP Reservation #}
    {{ dashboard_card('mac', mac_count, 'primary') }}
  </div>
  <div class="row">
    {# Activity list #}
    <div class="col-xl-8 col-lg-7">{% include "dashboard/activities.html" %}</div>
    {# Active user #}
    <div class="col-xl-4 col-lg-5">{% include "dashboard/active_users.html" %}</div>
    {# DNS Record mismatch #}
    <div class="col-xl-4 col-lg-5">{% include "dashboard/dns_record_mismatch.html" %}</div>
  </div>
{% endblock %}
