{% extends 'layout.html' %}
{% import "components/table.html" as _table with context %}
{% import "common/status.html" as _status %}
{% import "macro.html" as macro %}
{% macro dashboard_card(model_name, count, color) %}
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-{{ color }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <a href="{{ url_for(model_name, '') }}"
               class="stretched-link text-uppercase mb-1 text-{{ color }} fw-bold">
              {{ macro.display_name(model_name) }}
            </a>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count }}</div>
          </div>
          <div class="col-auto">{{ macro.icon(model_name, 'h1 text-secondary') }}</div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{% block title %}
  {% trans %}Dashboard{% endtrans %}
{% endblock title %}
{% block body %}
  <h1>{% trans %}Dashboard{% endtrans %}</h1>
  <div class="row">
    {# VRF #}
    {{ dashboard_card('vrf', vrf_count, 'primary') }}
    {# Subnet #}
    {{ dashboard_card('subnet', subnet_count, 'primary') }}
    {# IP #}
    {{ dashboard_card('ip', ip_count, 'primary') }}
    {# DNS Zones #}
    {{ dashboard_card('dnszone', dnszone_count, 'primary') }}
    {# DNS Record #}
    {{ dashboard_card('dnsrecord', dnsrecord_count, 'primary') }}
    {# DHCP Reservation #}
    {{ dashboard_card('dhcprecord', dhcprecord_count, 'primary') }}
    {# DHCP Reservation #}
    {{ dashboard_card('mac', mac_count, 'primary') }}
  </div>
  <div class="row">
    {# Activity list #}
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        {# Card Header - Dropdown #}
        <div class="card-header py-3">
          <span class="h6">{% trans %}Last activities{% endtrans %}</span>
          <small>- {% trans %}last 10 modifications{% endtrans %}</small>
        </div>
        {# Card Body #}
        <div class="card-body p-0" style="height: 420px; overflow-y: auto;">
          {% set columns = [
          {'name':'id', 'visible':False},
          {'name':'status', 'visible':False},
          {'name':'summary', 'title':_('Record'), 'orderable':False, 'render':'summary'},
          {'name':'model_name', 'visible':False },
          {'name':'author', 'visible':False},
          {'name':'date', 'visible':False},
          {'name':'type', 'visible':False },
          {'name':'body', 'visible':False},
          {'name':'changes', 'title':_('Changes'), 'orderable':False, 'render':'message_body' }] %}
          {{ _table.table(url_for('audit','data.json'), columns=columns, empty_message=_('No modification'), dom_cfg=_table.dom_without_header, paging=False) }}
        </div>
      </div>
    </div>
    {# Active user #}
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        {# Card Header - Dropdown #}
        <div class="card-header py-3">
          <span class="h6">{% trans %}Most active users{% endtrans %}</span>
          <small>- {% trans %}last 7 days{% endtrans %}</small>
        </div>
        {# Card Body #}
        <div class="card-body" style="height: 420px; overflow-y: auto;">
          {% set max_count = user_activities|map(attribute='count')|sum|int %}
          {% for user, count in user_activities %}
            <h4 class="small font-weight-bold d-flex justify-content-between">
              {{ user.summary }}
              <span>{{ count }}</span>
            </h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-{{ loop.cycle('danger', 'warning', 'info', 'success', 'primary') }}"
                   role="progressbar"
                   style="width: {{ (count / max_count * 100)|int }}%"
                   aria-valuenow="20"
                   aria-valuemin="0"
                   aria-valuemax="100">
              </div>
            </div>
          {% else %}
            {% trans %}No activities{% endtrans %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
