{% extends 'layout.html' %}
{% block title %}{{ status }}{% endblock %}
{% block body %}
  <div class="container">
    <div class="vh-100">
      <div class="row d-flex align-items-center h-100">
        <div class="p-5 bg-light border rounded-3 text-center">
          <h1>{% trans %}Oops!{% endtrans %}</h1>
          <h2>{{ status }}</h2>
          <div class="error-details">
            <p>{% trans %}Sorry, an error has occured.{% endtrans %}</p>
            <p>{{ message }}</p>
          </div>
          {% if traceback %}<pre id="traceback" class="text-start" style="max-height:350px">{{ traceback }}</pre>{% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
