<!DOCTYPE html>
<html lang="{{ lang[0:2] }}">
  <head>
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ catalog.render_assets() }}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static/main.css', v=cache_invalidate) }}"
          crossorigin="anonymous" />
    <title>
      {% block title %}{% endblock %}
      | {{ header_name }}
    </title>
    <link rel="icon"
          type="image/svg+xml"
          href="{{ url_for('static/favicon', v=cache_invalidate) }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block navbar %}
      {% include "navbar.html" %}
    {% endblock %}
    <main>
      <div class="container-fluid">
        {% block body %}{% endblock %}
      </div>
    </main>
    {% block script %}{% endblock %}
  </body>
</html>
