<!DOCTYPE html>
<html lang="{{ lang[0:2] }}">
  <head>
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Jquery #}
    <script src="{{ url_for('static/jquery/jquery.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    {# Bootstrap with Popper #}
    <link href="{{ url_for('static/bootstrap5/css/bootstrap.min.css', v=cache_invalidate) }}"
          rel="stylesheet"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static/bootstrap5/js/bootstrap.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    {# Datatables #}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static/datatables/css/jquery.dataTables.min.css', v=cache_invalidate) }}"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static/datatables/css/buttons.dataTables.min.css', v=cache_invalidate) }}"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static/datatables/css/responsive.dataTables.min.css', v=cache_invalidate) }}"
          crossorigin="anonymous" />
    <script src="{{ url_for('static/datatables/js/jquery.dataTables.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static/datatables/js/dataTables.responsive.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static/datatables/js/dataTables.buttons.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static/datatables/js/buttons.html5.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static/datatables/js/jszip.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static/datatables/js/pdfmake.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static/datatables/js/vfs_fonts.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static/datatables/js/dataTables.fixedHeader.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    {# Typeahead #}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static/typeahead/jquery.typeahead.min.css', v=cache_invalidate) }}"
          crossorigin="anonymous" />
    <script src="{{ url_for('static/typeahead/jquery.typeahead.min.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    {# Multi.js #}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static/multi/multi.css', v=cache_invalidate) }}"
          crossorigin="anonymous" />
    <script src="{{ url_for('static/multi/multi.js', v=cache_invalidate) }}"
            crossorigin="anonymous"></script>
    {# Custom #}
    <script src="{{url_for('static/main.js', v=cache_invalidate)}}"></script>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static/main.css', v=cache_invalidate) }}"
          crossorigin="anonymous" />
    <title>
      {% block title %}{% endblock %}
      | {{ header_name }}
    </title>
    <link rel="icon"
          type="image/svg+xml"
          href="{{ url_for('static/favicon', v=cache_invalidate) }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block navbar %}
      {% include "navbar.html" %}
    {% endblock %}
    <main>
      <div class="container-fluid">
        {% block body %}{% endblock %}
      </div>
    </main>
    {% block script %}{% endblock %}
  </body>
</html>
