{% extends 'layout.html' %}
{% block navbar %}{# Hide navbar #}{% endblock %}
{% block title %}
  {% trans %}Login{% endtrans %}
{% endblock %}
{% block body %}
  <section class="vh-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-3">
        <img src="{{ url_for('static', 'header_logo', v=cache_invalidate) }}"
             class="d-inline-block mb-4"
             height="64"
             alt="{{ header_name }}"/>
        <div class="card">
          <div class="card-body">
            {% include "flash.html" %}
            <form method="POST">
              {{ form(floating=True) }}
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit"
                        class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem;
                               padding-right: 2.5rem">
                  {% trans %}Login{% endtrans %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    body {
        background: url({{url_for('static', 'login_bg.jpg', v=cache_invalidate)}});
        background-size: cover;
    }
    main {
        background-color: rgba(0,0,0,0.5);
    }
  </style>
{% endblock %}
