{% extends 'layout.html' %}
{% block navbar %}{# Hide navbar #}{% endblock %}
{% block title %}
  {% trans %}Login{% endtrans %}
{% endblock %}
{% block body %}
  <div class="d-flex align-items-center vh-100">
    <div style="width:32rem;">
      <img src="{{ url_for('static', 'header_logo', v=cache_invalidate) }}"
           class="d-inline-block mb-4"
           height="64"
           alt="{{ header_name }}" />
      <div class="card">
        <div class="card-body">
          {% include "flash.html" %}
          {% block content %}
            <form id="form-login" role="form" method="post">
              <div class="row align-items-center">{{ form(floating=True) }}</div>
            </form>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <style>
    body {
        background: url({{url_for('static', 'login_bg.jpg', v=cache_invalidate)}});
        background-size: cover;
    }
    main {
        background-color: rgba(0,0,0,0.5);
    }
  </style>
{% endblock %}
