{% macro user(userobj) -%}
{% if userobj %}
{{userobj.fullname or userobj.username}}
{%else%}
{%trans%}Not assigned{%endtrans%}
{%endif%}
{%- endmacro %}

{% macro loading() -%}
<div class="text-center">
    <div class="spinner-border text-center" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{%- endmacro %}


{% macro message() -%}
<div class="text-center">
    <div class="spinner-border text-center" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{%- endmacro %}

{% macro icon(model, extra_class=None) %}
{%- if model == 'dnszone' -%}
<i class="bi bi-collection {{extra_class}}"></i>
{%- elif model == 'subnet' -%}
<i class="bi bi-diagram-3-fill {{extra_class}}"></i>
{%- elif model == 'dnsrecord' -%}
<i class="bi bi-signpost-split-fill {{extra_class}}"></i>
{%- elif model == 'dhcprecord' -%}
<i class="bi bi-ethernet {{extra_class}}"></i>
{%- elif model == 'ip' -%}
<i class="bi bi-geo-fill {{extra_class}}"></i>
{%- elif model == 'user' -%}
<i class="bi bi-person-fill {{extra_class}}"></i>
{%- endif -%}
{% endmacro %}
