{% extends 'layout.html' %}
{% block body %}
  {# Title #}
  <h2>{% trans %}Edit notification settings{% endtrans %}</h2>
  {% include "flash.html" %}
  <hr />
  <div class="row">
    <div class="col-md">
      <h4>{% trans %}Follow changes made on record type{% endtrans %}</h4>
      <p>{% trans %}You can select the record type(s) for which you want to receive all notifications.{% endtrans %}</p>
    </div>
    <div class="col-md-9">
      <form method="POST" class="mb-2">
        {% for field in form %}
          {% set text -%}
            <DisplayName value={{ field.label.text }} />
          {%- endset %}
          <div class="form-check">
            {{ field(id=False) }}
            {{ field.label(class="form-check-label", text=text) }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">{% trans %}Save notification settings{% endtrans %}</button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md">
      <h4>{% trans %}Follow changes made on specific record{% endtrans %}</h4>
      <p>{% trans %}Provide a complete list of record that you are following.{% endtrans %}</p>
      <ButtonWithConfirmation on_confirm_url={{ url_for("./unfollow") }} label={{ _("Unfollow all") }} description={{ _("Are you sure you want to stop following all records ?") }} />
    </div>
    <div class="col-md-9">
      {% set columns = [
              {'name':'id', 'visible':False},
              {'name':'status', 'visible':False},
              {'name':'model_name', 'visible':False},
              {'name':'summary', 'title':_('Subscribed to'), 'orderable': True, 'render':'summary'},
              {'name':'url', 'visible':False},
            ] %}
      <CustomDatatable data="data.json" empty_message={{ _("You are not following any record.") }} page_length={{ 10 }} length_change={{ False }} columns={{ columns }} buttons={{ [{'text': _("Reset") , 'extend': 'reset' }}] } />
    </div>
  </div>
{% endblock %}
