{% extends 'layout.html' %}
{% import 'macro.html' as macro %}
{% import "common/status.html" as _status %}
{% import "components/table.html" as _table %}
{% set hide_search = True %}
{% block body %}
<h4>{% trans %}Search{% endtrans %}</h4>

<div class="d-flex align-items-center">
    <form class="flex-grow-1 me-2" method="GET" action="{{url_for()}}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="q"
                value="{{form.q.data}}" aria-describedby="button-search">
            <button class="btn btn-outline-secondary" type="submit" id="button-search">
                <i class="bi bi-search" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>

{% set extra_columns = [('summary', _('Summary'), True), ('notes', _('Notes'), True), ('owner_name', _('Owner'), True)] %}
{% call(obj) _table.table(obj_list, table_extra_columns = extra_columns, search_enabled=False, empty_message=_('Sorry, that filter combination has no result. Please try different criteria.')) %}
<td>
    <a href="{{url_for(obj, 'edit')}}" data-sort="{{obj.summary}}">
        {{ macro.icon(obj, "h4 float-start pe-2") }}
        <strong>{{obj.summary}}</strong> {{ _status.badge(obj) }}
        <br />{{macro.display_name(obj) }}
    </a>
</td>
<td>
    {{ obj.notes }}
</td>
<td>
    {% if obj.owner_name %}{{obj.owner_name}}{% endif %}
</td>
{% endcall %}
{% endblock %}