{% extends 'layout.html' %}
{% import "macro.html" as macro %}
{% block body %}
<div class="page-title d-flex justify-content-between">
    <h1>{{display_name}}</h1>
    <div class="page-title-controls">
        <a class="btn btn-primary" href="{{url_for(base_url, 'new')}}">{%trans%}Create{%endtrans%} {{display_name}}</a>
    </div>
</div>
<hr />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            {% for field in form %}
            <th scope="col">{{ field.label.text }}</th>
            {% endfor %}
            <th scope="col" style="width: 100px">
                <span class="visually-hidden">{%trans%}Actions{%endtrans%}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for obj in obj_list%}
        <tr>
            {% set unused = form.process(obj=obj) %}
            {% for field in form %}
            <td scope="row">
                {% if loop.first %}
                <a href="{{url_for(base_url, obj.id, 'edit')}}">{{ field.data }}</a>
                {% else %}
                {{ field.data|default('-') }}
                {% endif %}
            </td>
            {% endfor %}
            <td>
                <a class="btn btn-primary btn-sm" href="{{url_for(base_url, obj.id, 'edit')}}">
                    <i class="fas fa-pen"></i>
                    <span class="visually-hidden">edit</span>
                </a>
                <a class="btn btn-primary btn-sm" href="{{url_for(base_url, obj.id, 'delete')}}">
                    <i class="far fa-trash-alt"></i>
                    <span class="visually-hidden">delete</span>
                </a>
            </td>
        </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock %}