<div class="btn-group">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        Show ...
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item {{ not deleted and 'active' }}"
                href="{{ url_for(base_url, deleted=False, personal=personal) }}">
                {% trans %}Hide deleted{% endtrans %}
            </a>
        </li>
        <li>
            <a class="dropdown-item {{ deleted and 'active' }}"
                href="{{ url_for(base_url, deleted=True, personal=personal) }}">
                {% trans %}Show deleted{% endtrans %}
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item {{ not personal and 'active' }}"
                href="{{ url_for(base_url, deleted=deleted, personal=False) }}">
                {% trans %}Owned by anyone{% endtrans %}
            </a>
        </li>
        <li>
            <a class="dropdown-item {{ personal and 'active' }}"
                href="{{ url_for(base_url, deleted=deleted, personal=True) }}">
                {% trans %}Owned by me{% endtrans %}
            </a>
        </li>
    </ul>
</div>