<div if="followers" class="followers-list">
    {% if not dnszone.is_following(currentuser) %}
    <a href="{{url_for('dnszone', dnszone.id, 'follow')}}">Start following</a>
    {% else %}
    <a href="{{url_for('dnszone', dnszone.id, 'unfollow')}}">Stop following</a>
    {% endif %}

    {% if not dnszone.followers %}
    <p>{% trans %}No followers{% endtrans %}</p>
    {% endif %}
    <ul>
        {% for userobj in dnszone.followers %}
        <li>
            {{ macro.user(userobj) }}
            <a href="{{url_for('dnszone', dnszone.id, 'unfollow', userobj.id)}}" title="{%trans%}unfollow{%endtrans%}"><i class="fas fa-times"></i><span
                    class="visually-hidden">{%trans%}unfollow{%endtrans%}</span></a>
        </li>
        {% endfor %}
    </ul>
</div>