<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fas fa-database"></i> {{header_name}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if username %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-network-wired"></i> {% trans %}Network{%endtrans%}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('dnszone') }}">{% trans %}DNS Zone{%endtrans%}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('subnet') }}">{% trans %}IP Subnet{%endtrans%}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('dnsrecord') }}">{% trans %}DNS Record{%endtrans%}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('dhcprecord') }}">{% trans %}DHCP Record{%endtrans%}</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-user"></i> {{username}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</nav>