<div class="d-flex flex-row">
  <div class="w-50">
    {% trans %}Available{% endtrans %}
    <select name="{{ field.name }}-not-checked"
            id="{{ field.id }}-not-checked"
            class="form-control"
            size="8"
            multiple="multiple">
      {% for value, label, checked in field.iter_choices() %}
        {% if not checked %}
          <option value="{{ value }}">
            {{ label }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="ms-3 me-3 mt-4 align-self-center">
    <button type="button"
            title="{% trans %}Add item{% endtrans %}"
            id="multiselect_rightSelected"
            class="btn btn-primary d-block mb-1"
            onclick="$('#{{ field.id }}-not-checked option:selected').appendTo($('#{{ field.id }}'))">
      <i class="bi bi-chevron-right" aria-hidden="true"></i>
    </button>
    <button type="button"
            title="{% trans %}Remove item{% endtrans %}"
            id="multiselect_leftSelected"
            class="btn btn-primary d-block mb-1"
            onclick="$('#{{ field.id }} option:selected').appendTo($('#{{ field.id }}-not-checked'))">
      <i class="bi bi-chevron-left" aria-hidden="true"></i>
    </button>
  </div>
  <div class="w-50">
    {% trans %}Selected{% endtrans %}
    <select name="{{ field.name }}"
            id="{{ field.id }}"
            class="form-control"
            size="8"
            multiple="multiple">
      {% for value, label, checked in field.iter_choices() %}
        {% if checked %}
          <option value="{{ value }}">
            {{ label }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
<script>
  $('#{{ field.id }}').closest("form").submit(function (e){
    $('#{{ field.id }} option').prop('selected', true);
  });
</script>
