Source: udb
Section: web
Priority: optional
Maintainer: Patrik Dufresne <patrik@ikus-soft.com>
Build-Depends:
 chromium-driver,
 debhelper-compat (= 13),
 dh-sequence-python3,
 python3,
 python3-all-dev,
 python3-apscheduler,
 python3-babel,
 python3-cherrypy3,
 python3-configargparse,
 python3-email-validator,
 python3-html5lib,
 python3-jinja2,
 python3-ldap3,
 python3-parameterized,
 python3-pip,
 python3-pytest,
 python3-requests,
 python3-setuptools,
 python3-setuptools-scm,
 python3-ujson,
 python3-selenium,
 python3-sqlalchemy,
 python3-validators,
 python3-wtforms,
 python3-zxcvbn,
Rules-Requires-Root: no
Standards-Version: 4.5.1
Homepage: https://www.ikus-soft.com/en/udb/
Vcs-Git: https://gitlab.com/ikus-soft/udb.git
Vcs-Browser: https://gitlab.com/ikus-soft/udb

Package: udb
Architecture: all
Depends:
 libjs-jquery,
 libjs-jquery-datatables,
 libjs-jquery-datatables-extensions,
 ${misc:Depends},
 ${python3:Depends},
 ${sphinxdoc:Depends},
Suggests:
 python3-psycopg2,
Description: Web application used to manage records to configure enterprise network with ansible-playbook.
