#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --buildsystem=pybuild --test-pytest

execute_after_dh_auto_install:
	rm -rf debian/udb/usr/lib/python*/dist-packages/udb/controller/tests
	rm -rf debian/udb/usr/lib/python*/dist-packages/udb/core/tests
	rm -rf debian/udb/usr/lib/python*/dist-packages/udb/tests
	rm -f  debian/udb/usr/lib/python*/dist-packages/udb/test.py
	rm -f  debian/udb/usr/lib/python*/dist-packages/udb/static/bootstrap5/*
	rm -f  debian/udb/usr/lib/python*/dist-packages/udb/static/datatables/css/*
	rm -f  debian/udb/usr/lib/python*/dist-packages/udb/static/datatables/images/*
	rm -f  debian/udb/usr/lib/python*/dist-packages/udb/static/jquery/*
	rm -f  debian/udb/usr/lib/python*/dist-packages/udb/static/popper.js/*
