{# def key #}
{%- set display_name_field = {
"status": _("Status"),
"vrf": _("VRF"),
"owner": _("Owner"),
"name": _("Name"),
"type": _("Type"),
"ttl": _("TTL"),
"value": _("Value"),
"notes": _("Notes"),
"slave_subnets": _("IP Ranges"),
"l3vni": _("L3VNI"),
"l2vni": _("L2VNI"),
"vlan": _("VLAN"),
"rir_status": _("RIR Status"),
"dnszones": _("Allowed DNS zone(s)"),
"related_dns_records": _("Related DNS Records"),
"related_dhcp_records": _("Related DHCP Reservations"),
"related_subnets": _("Supernets"),
"subnets": _("Allowed subnets"),
"ip": _("IP"),
"mac": _("MAC"),
"statement": _("SQL Statement"),
"model_name": _("Data Type"),
"builtin": _("Built-in"),
"severity": _("Enforced"),
"username": _("Username"),
"password": _("Password"),
"role": _("Role"),
"fullname": _("Fullname"),
"email": _("Email"),
"lang": _("Preferred Language"),
"timezone": _("Preferred Time zone"),
"mfa": _("Two-Factor authentication")
} -%}
<span {{ attrs.render() }}>{{ display_name_field.get(key, key) }}</span>
