{% extends 'common/list.html' %}

{% macro local() %}
<span class="badge rounded-pill bg-info">{% trans %}local{% endtrans %}</span>
{% endmacro %}

{% macro external() %}
<span class="badge rounded-pill bg-info">{% trans %}external{% endtrans %}</span>
{% endmacro %}


{% block table_list scoped %}
{% call(obj) _table.table(obj_list, table_extra_columns = [('username', form.username.label.text, True), ('fullname', form.fullname.label.text, True), ('email', form.email.label.text, True), ('role', form.role.label.text, True)] ) %}
<td>
    {{obj.username}} {{ local() if obj.is_local() else external() }}
</td>
<td>
    {{obj.fullname}}
</td>
<td>
    {{obj.email}}
</td>
<td>
    {% for value, label, checked in form.role.iter_choices() %}
    {% if value == obj.role %}{{label}}{% endif %}
    {% endfor %}
</td>
{% endcall %}
{% endblock %}
