{% extends 'common/list.html' %}
{# Subnet are sorted a in specific wayt to mimic the IP CIDR ordering. #}
{# data-depth is used by datatables to create a "tree" representation of the data. #}
{% set columns = [
{'data':'ip_cidr', 'title': form.ip_cidr.label.text, 'orderable':True, 'render':'subnet', 'type':'number'},
{'data':'name', 'title':form.name.label.text, 'orderable':True},
{'data':'vrf_name', 'title':form.vrf.label.text, 'orderable':True},
{'data':'l3vni', 'title':form.l3vni.label.text, 'orderable':True},
{'data':'l2vni', 'title':form.l2vni.label.text, 'orderable':True},
{'data':'vlan','title': form.vlan.label.text, 'orderable':True},
{'data':'dnszones', 'title':form.dnszones.label.text, 'orderable':False}] %}
