{% extends 'common/list.html' %}

{% block table_list scoped %}
{% call(obj) _table.table(obj_list, table_extra_columns = [('name', form.name.label.text, True), ('ip_cidr', form.ip_cidr.label.text, True), ('vrf', form.vrf.label.text, True), ('dnszones', form.dnszones.label.text, False)]) %}
<td>
    {{obj.name}}
</td>
<td>
    {{obj.ip_cidr}}
</td>
<td>
    {{obj.vrf}}
</td>
<td>
    {% for zone in obj.dnszones %}
    <a href="{{url_for(zone, 'edit')}}"><span class="badge rounded-pill bg-secondary">{{zone.summary}}</span></a>
    {% endfor %}
</td>
{% endcall %}
{% endblock %}
