{% extends 'common/edit.html' %}
{% import "components/table.html" as _table %}
{% block extra_actions %}
  {# Deployment #}
  <div class="mb-2">
    <form method="POST" action="{{ url_for('environment', obj.id, 'deploy') }}">
      {{ deploy_form }}
    </form>
  </div>
{% endblock %}
{% block extra_form %}
  {# Display pendings changes #}
  <div id="changes" class="card mb-2 udb-card-table-wrapper">
    {% set columns = [
          {'name':'id', 'visible':False},
          {'name':'summary', 'title':_('Record'), 'orderable':False, 'render':'summary'},
          {'name':'model_name', 'visible':False },
          {'name':'author', 'visible':False},
          {'name':'date', 'visible':False},
          {'name':'type', 'visible':False },
          {'name':'body', 'visible':False},
          {'name':'changes', 'title':_('Pending Changes'), 'orderable':False, 'render':'message_body' },
          {'name':'url', 'visible':False}
        ] %}
    {{ _table.table('changes.json',
        columns=columns,
        order=[[ 0, 'desc' ]],
        searching=False,
        dom_cfg=_table.dom_without_header,
        empty_message=_('No changes since last deployment.') ,
    page_length=5) }}
  </div>
{% endblock %}
