{% extends 'common/list.html' %}
{% set columns = [
{'name':'id', 'visible':False},
{'name':'status', 'visible':False},
{'name':'name', 'title':form.name.label.text|string, 'orderable':True, 'render':'summary', 'render_arg':'environment'},
{'name':'model_name', 'title':form.model_name.label.text|string, 'orderable':True, 'render':'choices', 'render_arg': form.model_name.choices},
{'name':'changes_count', 'title':_('Number of pending changes'), 'orderable':True},
{'name':'notes', 'title':form.notes.label.text|string, 'orderable':True}] %}
