{% extends 'common/list.html' %}
{% set columns = [
  {'name':'id', 'visible':False},
  {'name':'status', 'visible':False, 'search': '(1|2)', 'regex':True},
  {'name':'name', 'title':form.name.label.text|string, 'orderable':True, 'render':'summary', 'render_arg':'environment', 'className':'export'},
  {'name':'model_name', 'title':form.model_name.label.text|string, 'orderable':True, 'render':'choices', 'render_arg': form.model_name.choices, 'className':'export'},
  {'name':'changes_count', 'title':_('Number of pending changes'), 'orderable':True, 'className':'export'},
  {'name':'notes', 'title':form.notes.label.text|string, 'orderable':True, 'className':'export'}
] %}
