{% extends 'common/list.html' %}
{% set columns = [
{'name':'id', 'visible':False},
{'name':'status', 'visible':False, 'search': '(enabled|disabled)', 'regex':True},
{'name':'ip', 'title':form.ip.label.text|string, 'orderable':True, 'render':'summary', 'render_arg':'dhcprecord', 'className':'export'},
{'name':'mac', 'title':form.mac.label.text|string, 'orderable':True, 'className':'export'},
{'name':'notes', 'title':form.notes.label.text|string, 'orderable':True, 'className':'export'},
{'name':'owner', 'title':form.owner_id.label.text|string, 'orderable':True, 'className':'export'}] %}
