{% macro show_value(value) %}
  {%- if value is none -%}<i>{% trans %}Undefined{% endtrans %}</i>{%- else -%}{{ value }}{%- endif -%}
{% endmacro %}
{% macro show_message(message) %}
  <small>{% trans %}By {% endtrans %} {{ message.author_name }} •
    <time datetime="{{ message.date }}">
      {{ message.date|format_datetime(format='full') }}
    </time>
  </small>
  {# Message Comment #}
  {% if message.body %}<p>{{ message.body }}</p>{% endif %}
  {% if message.type == 'new' and message.changes %}
    {# New record created #}
    {% trans %}Record created{% endtrans %}
    <ul class="mb-0">
      {% for key, values in message.changes.items() -%}
        <li>
          <strong>{{ key }}</strong>:
          {% if values[1] is not string and values[1] is sequence %}
            {% for added in values[1] %}
              <br />
              {{ show_value(added) }}
            {% endfor %}
          {% else %}
            {{ show_value(values[1]) }}
          {% endif %}
        </li>
      {%- endfor %}
    </ul>
  {% elif message.type == 'dirty' and message.changes %}
    {# Existing record Updated #}
    <ul class="mb-0">
      {% for key, values in message.changes.items() %}
        <li>
          <strong>{{ key }}</strong>:
          {% if values[0] is not string and values[0] is sequence %}
            {% for deleted in values[0] %}
              <br />
              {% trans %}Removed:{% endtrans %} {{ show_value(deleted) }}
            {% endfor %}
            {% for added in values[1] %}
              <br />
              {% trans %}Added:{% endtrans %} {{ show_value(added) }}
            {% endfor %}
          {% else %}
            {{ show_value(values[0]) }} → {{ show_value(values[1]) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
